* {
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.main-box {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link {
    text-transform: capitalize;
}

#hheader {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

#healthy {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}
.card img{
    height: 200px;
}
.card{
    background: transparent;

}
.ice_cream{
    display: none;
}

li{
    cursor: pointer;
}